<hr>
<h2>Items</h2>
<section class="tiny-dialog">
  <div class="form-group">
    <input id="name"
           name="name"
           class="form-control"
           placeholder="Filter by name.."
           [(ngModel)]="searchText">
  </div>
</section>
<hr>
<div class="container-fluid">
  <div class="row">
    <section>
      <div id="gallery" class="col-md-9">
        <div class="gallery">
          <div class="gallery-pet fader"  *ngFor="let item of items | nameFilter: searchText">
            <div>
              <div class="overlay-text"><a routerLink="/items/{{item.id}}">  {{item.name}}</a></div>
              <img class="profile-picture" src="assets/images/item-image.png">
              <div>Price: € {{item.price}} {{item.stockUrgency}}</div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="form-group">
        <h3>Add your item</h3>
        <form (ngSubmit)="onSubmit()" [formGroup]="itemFormValidator.itemForm">
          <label>Name</label>
          <input class="form-control" [formControlName]="'name'" placeholder="Name" type="text" name="name">
          <span class="help-block" *ngIf="!itemFormValidator.itemForm.get('name').valid && itemFormValidator.itemForm.get('name').touched">Please enter a valid name</span>
          <label>Description</label>
          <textarea (input)="itemFormValidator.descriptionCounter($event)" cols="50" rows="10" class="form-control" [formControlName]="'description'" placeholder="Description"></textarea>
          <span [ngClass]="itemFormValidator.status ? 'success':'danger'">{{itemFormValidator.counter}}/255</span>
          <span class="help-block" *ngIf="!itemFormValidator.itemForm.get('description').valid && itemFormValidator.itemForm.get('description').touched">Please enter a valid description of maximum 255 characters</span>
          <label>Price</label>
          <input class="form-control" [formControlName]="'price'" placeholder="Price" type="number">
          <span class="help-block" *ngIf="!itemFormValidator.itemForm.get('price').valid && itemFormValidator.itemForm.get('price').touched">Please enter a valid price, no negative numbers</span>
          <label>Amount of stock</label>
          <input class="form-control" [formControlName]="'amountOfStock'" placeholder="Amount of stock" type="number">
          <span class="help-block" *ngIf="!itemFormValidator.itemForm.get('amountOfStock').valid && itemFormValidator.itemForm.get('amountOfStock').touched">Please enter a valid name, no negative numbers</span>
          <button class="btn btn-primary pull-right" [disabled]="!itemFormValidator.valid" type="submit">Create Item</button>

        </form>
      </div>
    </section>
  </div>
</div>


